:root {
    --primary: #19A7CE;
    --primary_darky: #146C94;
    --textgray: #908787;
    --black: #000000;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li,
ul {
    list-style: none;
}

.bordersection {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0.5px;
    background-color: var(--primary);
    margin-top: 30px;
}

/* English font - regular */
@font-face {
    font-family: 'ENG_regular';
    unicode-range: U+0000-007F;
    src: url('/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'ENG_lighter';
    src: url('/fonts/NotoSans-Light.ttf');
}

/* English font - bold */
@font-face {
    font-family: 'ENG_bold';
    src: url('/fonts/NotoSans-Bold.ttf');
}

/* Korean font - regular */
@font-face {
    font-family: 'KR_regular';
    unicode-range: U+AC00-D7AF;
    src: url('/fonts/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'KR_thin';
    src: url('/fonts/NotoSansKR-Thin.otf');
}

/* Korean font - bold */
@font-face {
    font-family: 'KR_bold';
    unicode-range: U+AC00-D7AF;
    src: url('/fonts/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'KR_lighter';
    unicode-range: U+AC00-D7AF;
    src: url('/fonts/NotoSansKR-Light.otf');
}

/* Apply the font families to the respective language scripts */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    width: 393px;
    height: 852px;
}

body {
    font-family: 'ENG_regular', 'KR_regular', sans-serif;
}

/* 한글인데 bold,light적용시켜주려면 다음 클래스 적용 */
.kbolder {
    font-family: 'KR_bold';
}

.klighter {
    font-family: 'KR_lighter';
}

/* 영어인데 bold,light적용시켜주려면 다음 클래스 적용 */
.Ebolder {
    font-family: 'ENG_bold';
}

.Elighter {
    font-family: 'ENG_lighter';
}


h1 {
    font-size: 20px;

}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 12px;
}

.category {
    font-size: 14px;
}

.context1 {
    font-size: 12px;
}

.context2 {
    font-size: 10px;
}

/* mainBanner */

.main_banner {
    width: 393px;
    height: 379px;
    position: relative;
    padding: 29px 29px 0px 29px;
    /* 80% */
}

.rectangle {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 393px;
    height: 379px;
    z-index: -1;
    filter: blur(1px);
}

.title__section {
    display: flex;
    width: 204px;
    height: 24px;
    justify-content: flex-start;
    gap: 110px;
    align-items: center;
}

.fa-solid {
    font-size: 18px;
}

.logo {
    text-align: center;
    color: var(--primary_darky);
    font-size: 18px;
    font-family: 'ENG_bold';
}

.image__section {
    display: flex;
    margin-top: 77px;
    gap: 33px;
}

.profile__image {
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 24px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.day__section {
    width: 156px;
    height: 76px;
    background-color: var(--white);
    opacity: 0.8;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 13px;
    margin-top: 8px;
}

.day__check {
    font-size: 12px;
}

.day__title {
    display: flex;
    align-items: center;
    gap: 13px;
}

.day__detail {
    font-family: 'KR_thin';
    font-size: 40px;
    line-height: 40px;
    color: var(--primary);
}

.day__description {
    width: 45px;
    height: 34px;
    font-size: 12px;
}

.gift__section {
    margin-top: 16px;
    width: 156px;
    display: flex;
    justify-content: center;
    gap: 8px;

}


.gift__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 26px;
    border-radius: 99px;
    font-size: 12px;
    font-family: 'KR_bold';
    color: var(--primary);
    background-color: var(--white);
    opacity: 0.85;
    border: none;

}



.box__section {
    position: absolute;
    bottom: -45px;
    display: flex;
    gap: 11px;

}

.day__box {
    width: 105px;
    height: 105px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.box__title {
    font-size: 12px;
    font-family: 'KR_bold';
}

.box__description {
    font-size: 12px;
}

/* tab */

.margin {
    width: 100%;
    height: 81px;
}

.tab {
    display: flex;
    padding-left: 29px;
    padding-right: 29px;
    gap: 30px;
}

.tab li {
    font-size: 14px;
}

.now {
    font-family: 'KR_bold';
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}


/* info */

.info {
    width: 100%;
    margin-top: 32px;
    padding-left: 29px;
    padding-right: 29px;
}

.info__title {
    color: var(--primary_darky);
}

.info__description {
    color: var(--primary);
}



.playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-left: 29px;
    padding-right: 29px;
}

.playlist__title {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--primary_darky);
}

.playlist__widget {
    width: 100%;
    height: 116px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    gap: 55px;
}

.album {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.2));
}

.record {
    width: 90px;
    height: 90px;
    object-fit: contain;
    position: absolute;
    left: 60px;
    z-index: -1;
}


.playlist__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.music__title {
    font-size: 15px;
}

.music__writer {
    color: var(--textgray);
}

.playbar {
    display: flex;
    margin-top: 4px;
    gap: 22px;
}

.playbar i {
    font-size: 23px;
}


.info__nav {
    margin-top: 18px;
    display: flex;
    padding-left: 29px;
    padding-right: 29px;
    gap: 10px;
}

.info__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 99px;
    height: 25px;
    padding: 4px;
    border: 0.5px solid var(--textgray);
    font-size: 14px;
    font-family: 'KR_lighter';
    color: var(--textgray);
}

.info__clicked {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    width: 70px;
    font-size: 14px;
    color: var(--primary);
    border: 1px solid var(--primary);
}

/* MOVIE SECTION */

.movie__section {
    margin-top: 23px;
    padding-left: 29px;
    padding-right: 29px;
}


.card__section {
    display: flex;
    padding-bottom: 12px;
    gap: 15px;
    overflow: scroll;
}

.movie__card {
    display: flex;
    width: 118px;
    flex-direction: column;

}

.movie__img {
    width: 118px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}


.section__title {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--primary_darky);
    margin-bottom: 15px;
}

.movie__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie__title {}

.movie__director {
    font-size: 10px;
    color: var(--textgray);
}

/* BLOG SECTION */

.blog__section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 23px;
    padding-left: 29px;
    padding-right: 29px;
}

.blog__card {
    display: flex;
    width: 370px;
    height: 100px;
    gap: 7px;
    padding-right: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    overflow: hidden;
}

.blog__image {
    width: 85px;
    height: 100px;
    object-fit: cover;
}

.blog__description {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
}

.blog__summary {
    font-size: 10px;
    color: var(--textgray);
}


.blog__writer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: 'KR_thin';
}

.sns {
    color: var(--primary);
}

.date {
    color: var(--textgray);
}